{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django REST with React</title>
  <link rel="shortcut icon" href="{%  static 'main/images/yicon.ico' %}">
  <link rel="stylesheet" href="{% static "frontend/styles.css" %}">
</head>
<body>
<h2>That's all the shuffles in the database /</h2>
<div id="app">
    <!-- React will load here -->
</div>
</body>
<script src="{% static "frontend/main.js" %}"></script>
</html>