{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block content %}
<div>
<div style="margin-top: 50px;" class="ui container ">
    <h1 class="ui center aligned header">Task Manager</h1>
    <form style="margin-top: 20px;" class="form-inline" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" type="text" name="title" placeholder="New task ..."><br>
            <button class="btn btn-primary mb-2" type="submit">Add task</button>
        </div>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }} | date created task: {{ todo.date_created }}</p>
    {% if todo.is_complete == False %}
        <span class="ui gray label">Non completed</span>
        <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Close</a>
    {% else %}
        <span class="ui green label">completed</span>
        <a class="ui blue button" href="{% url 'update' todo_id=todo.id %}">Open</a>
    {% endif %}
    <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Delete</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}