/* Для экранов шириной менее 600px */
@media (max-width: 600px) {
  .mrkdn {
    width: 90%; /* 90% ширины родительского элемента */
    margin-left: 5%;
  }
}
/* Для экранов шириной от 600px до 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .mrkdn {
    width: 80%; /* 80% ширины родительского элемента */
    margin-left: 10%;
  }
}
/* Для экранов шириной более 900px */
@media (min-width: 900px) {
  .mrkdn {
    width: 800px; /* 70% ширины родительского элемента */
  }
}
.mrkdn {
  margin: 0 auto; /* Автоматические отступы слева и справа */
  margin-bottom: 10px;
}
.dropdown {
  position: fixed;
  top: 0;
  left: 2;
  margin-top:10px;
  z-index: 100;
}

.dropdown-button {
  background-color: #4CAF50; /* Зеленый цвет */
  color: white; /* Белый цвет */
  padding: 10px 15px; /* Отступы */
  border: none; /* Убирает границу */
  cursor: pointer; /* Указатель курсора */
  border-radius: 10px;
}

.dropdown-content {
  display: none; /* Скрывает содержимое по умолчанию */
  position: absolute; /* Позиционирует элемент относительно его ближайшего позиционированного родителя */
  background-color: #f9f9f9; /* Серый фон */
  min-width: 160px; /* Минимальная ширина */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Тень */
  z-index: 1; /* Отображает элемент поверх других элементов */
}

.dropdown-content a {
  color: black; /* Черный цвет */
  padding: 12px 16px; /* Отступы */
  text-decoration: none; /* Убирает подчеркивание */
  display: block; /* Отображает элементы как блоки */
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Серый фон при наведении */
}
.dropdown:hover .dropdown-content { /* TODO: */
  display: block; /* Отображает содержимое при наведении на кнопку */
}
/* Центрирование формы */
#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

/* Шрифты */
body {
  font-family: 'Roboto', sans-serif;
}

/* Цвета */
#form {
  width:740px;
  border-radius: 5px;
  padding: 20px;
  margin:0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#name-input {
  padding: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width:95%;
}

#submit-button {
  background-color: #4CAF50; /* Зеленый цвет */
  color: #fff; /* Белый цвет */
  border: none;
  margin-left:10px;
  padding: 10px 20px; /* Уменьшенные отступы */
  border-radius: 10px; /* Скругленные углы */
  cursor: pointer;
  justify-content: flex-end;
  transition: background-color 0.3s; /* Плавный переход цвета */
  font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
  font-size: 14px; /* Размер шрифта 14px */
}

#submit-button:hover {
  background-color: #3e8e41;
}
.update-todo-button {
  background-color: #4CAF50; /* Зеленый цвет */
  color: #fff; /* Белый цвет */
  border: none;
  margin-left:10px;
  padding: 10px 20px; /* Уменьшенные отступы */
  border-radius: 10px; /* Скругленные углы */
  cursor: pointer;
  justify-content: flex-end;
  transition: background-color 0.3s; /* Плавный переход цвета */
  font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
  font-size: 14px; /* Размер шрифта 14px */
}
.update-todo-button:hover {
  background-color: #3e8e41; /* Темно-зеленый цвет при наведении */
}
h2 {
  font-family: 'Roboto', sans-serif; /* Шрифт Google Roboto */
  font-size: 24px; /* Размер шрифта */
  font-weight: 500; /* Толщина шрифта */
  margin-bottom: 20px; /* Отступ снизу */
  text-align: center; /* Выравнивание по центру */
}
/* Центрирование списка (из предыдущего ответа) */
.task_ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin: 0 auto;
  width: fit-content;
}

/* Стили списка */
.task_ul {
  flex-direction: column;
  list-style: none;
  padding: 0; /* Убрать отступы по умолчанию */
  border-radius: 10px; /* Закруглить углы списка */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавить тень */
}

/* Стили элемента списка */
.task_li {
  padding: 15px 20px; /* Увеличить отступы внутри элемента */
  background-color: #fff; /* Белый фон */
  border-radius: 8px; /* Закруглить углы элементов списка */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавить тень к элементам */
  transition: background-color 0.3s ease; /* Сделать плавный переход цвета фона */
}

/* Стили элемента списка при наведении */
.task_li:hover {
  background-color: #f5f5f5; /* Светло-серый фон при наведении */
}