body {
    float: center;
    background-color: #d3d3d3;
    width-min: 40%;
    padding: 3%;
    height: 60%;
}
/* p, strong {
    color:#e7e8e6;
} */
a, u {
  padding: 1%;
  text-decoration: none;
}
.centrelis{
  padding-left: 40%;
}